@import "../../style/themes/default";

.ant-panel {
  position: relative;

  &-bordered {
    border: 1px solid @panel-border-color;
  }

  &-title {
    font-size: @font-size-lg;
    margin: 20px 20px 0 20px;
  }

  &-description {
    font-size: @font-size-base;
    color: #888;
    margin: 10px 20px 10px 20px;
  }

  &-content {
    padding: 0 20px 20px 20px;
  }

  .close-btn {
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
}
